<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
  <dd><img src= "<%= @photo.image %>" alt="image user uploaded" height="300px"></dd>
</dl>

  <dt>Caption</dt>
  <dd>
    <p><%=@photo.caption%></p>
  </dd>

  <dt>Owner</dt>
  <dd>
    <p><%=@photo.poster.username%></p>
  </dd>

  <dt>Posted</dt>
  <dd>
    <p><%=@photo.created_at%></p>
  </dd>
  
  <dt>
    Edit photo
  </dt>
  <dd>
    <form action="/update_photo/<%=@photo.id%>" method="post">
      <label for="browser_image">Image</label>
      <input id="browser_image" type="text" name="input_image" placeholder="Enter a URL for the image..." value=https://robohash.org/dolorehicincidunt.png?size=300x300&amp;set=set1>

      <label for="browser_caption">Caption</label>
      <textarea id="browser_caption" name="input_caption" placeholder="Enter a caption for the photo...">Once you’ve accepted your flaws, no one can use them against you.</textarea>

      <button>Update photo</button>
    </form>
  </dd>

  <dt>Delete photo</dt>
  <dd>
    <a href="/delete_photo/<%=@photo.id%>">
      Delete this photo
    </a>
  </dd>
</dl>

<h2>Comments</h2>
  <tr>
    <th>Commenter</th>
    <th>Comment</th>
    <th>Posted</th>
  </tr>

</table>

<h3>Add a new comment</h3>

<form action="/add_comment" method="post">
  <label for="browser_photo_id">Photo ID</label>
  <input id="browser_photo_id" type=text placeholder="Enter the photo ID" name="input_photo_id" value=<%=@photo.id%>>

  <label for="browser_author_id">Author ID</label>
  <input id="browser_author_id" type=text placeholder="Enter your author ID" name="input_author_id">

  <label for="browser_comment">Comment</label>
  <textarea id="browser_comment" type=text placeholder="Enter a comment..." name="input_comment"></textarea>

  <button>Add comment</button>
</form>
